# Copyright (c) 2016-2022 Martin Donath <martin.donath@squidfunk.com>

# Project information
site_name: Network Science
site_url: https://github.com/yy/netsci-course
site_author: YY Ahn
site_description: Indiana University I606 Network Science Course Homepage

# Repository
repo_name: yy/netsci-course
repo_url: https://github.com/yy/netsci-course
edit_uri: ''

# Markdown extensions
markdown_extensions:
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tabbed

# Extra javascript
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Theme
theme:
  name: material
  language: en
  logo: images/logo.png
  favicon: images/logo.png
  features:
    - navigation.instant
    - navigation.top
    - content.code.annotate
    - search.suggest
    - search.highlight
  palette:
    # Light mode
    - media: '(prefers-color-scheme: light)'
      scheme: default
      primary: white
      accent: light blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: black
      accent: light blue
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/yy
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/yyahn/
    - icon: fontawesome/solid/globe
      link: https://yongyeol.com/

# Plugins
plugins:
  - mkdocs-jupyter:
      kernel_name: python3
  - search

# TOC
nav:
    - index.md
    - "Module 0: Primer":
      - m00-primer/lab00-self_assessment.ipynb
    - "Module 1: Introduction":
      - m01-intro/lab01-python_review.ipynb
      - m01-intro/lab01-env.ipynb
    - "Module 2: Friendship paradox":
      - m02-friendship_paradox/lab02.ipynb
    - "Module 3: What a small world!":
      - m03-smallworld/lab03.ipynb
    - "Module 4: Strength of weak ties":
      - m04-weakties/lab04.ipynb
    - "Module 5: Scale-free networks":
      - m05-scalefree/lab05.ipynb
    - "Module 6: Centralities":
      - m06-centrality/lab06.ipynb
    - "Resources":
      - resources/index.md
